<!DOCTYPE HTML>
<html>

	<head>
		<title> WEB601 Ecommerce | Account</title>
		<%- include('partials/head.ejs'); %>
	</head>

	<body>
        <%- include('partials/header.ejs'); %>
		<%- include('partials/navigation.ejs'); %>

            <!-- ANCHOR account content here -->
			<main class="mb-4">
				<body class="my-login-page">
					<section class="h-100">
						<div class="container h-100">
							<div class="row justify-content-md-center h-100">
								<div class="card-wrapper">
									<div class="card fat">
										<div class="card-body">
											<h4 class="card-title">Account</h4>
											<form class="my-login-validation" novalidate="">
												<div class="profile-info">
													<label for="username">Username:</label>
													<input type="text" id="username-input" value=<%- user.username %> disabled>
												</div>
											
												<div class="profile-info">
													<label for="firstName">First Name:</label>
													<input type="text" id="name-input" value="<%- user.given_name %>" disabled>
												</div>

												<div class="profile-info">
													<label for="surname">Surname:</label>
													<input type="text" id="name-input" value="<%- user.family_name %>" disabled>
												</div>
											
												<div class="profile-info">
													<label for="email">Email:</label>
													<input type="email" id="email-input" value="<%- user.email  %>" disabled>
												</div>
											
												<div class="profile-info">
													<label for="password">Password:</label>
													<input id="password-input" type="password" value="<%- user.password %>">
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</body>
			</main>	

        <%- include('partials/navigation.ejs'); %>
		<%- include('partials/footer.ejs'); %>
	</body>

</html>