<!DOCTYPE HTML>
<html>
	<head>
		<title> WEB601 Ecommerse | Cart</title>
		<%- include('partials/head.ejs'); %>
		<link rel="stylesheet" href="/public/stylesheets/cart.css">
	</head>

	<body>
		<%- include('partials/header.ejs'); %>
		<%- include('partials/navigation.ejs'); %>

        <!-- ANCHOR Main Page Content - Cart -->
		<section class="h-100" style="background-color: #eee;">
			<div class="container h-100 py-5">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-10">
						
						<div class="d-flex justify-content-between align-items-center mb-4">
							<h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
						</div>

						<div class="card rounded-3 mb-4">
							<div class="card-body p-4">
								<div class="row d-flex justify-content-between align-items-center">

									
										<%- include('partials/cart_products.ejs') %>
									

								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-body">
								<button type="button" id="payBtn" class="payBtn" style="
									text-decoration: none;
									float: right;
									border: 0px;
									background-color: blue;
									color: white;
									border-radius: 5px;
									padding: 10px;"
								>Proceed to Pay</button>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</section>

        <%- include('partials/navigation.ejs'); %>
		<%- include('partials/footer.ejs'); %>

	</body>
</html>