<!DOCTYPE HTML>
<html>

	<head>
		<title> WEB601 Ecommerce | Home</title>
		<%- include('partials/head.ejs'); %>
	</head>

	<body>
		<%- include('partials/header.ejs'); %>
		<%- include('partials/navigation.ejs'); %>

		<!-- ANCHOR feature product - large product details -->
		<div class="index-banner">

			<div class="wmuSlider example1" style="height: 570px;">
				<div class="wmuSliderWrapper">

					<article style="position: relative; width: 100%; opacity: 1;"> 
						<div class="banner-wrap">
							<div class="slider-left">
								<img src="/product_Images/shirt1.jpg" alt=""/> 
							</div>
							<div class="slider-right">
								<h1>Fears Kill Dreams</h1>
								<h2>Black</h2>
								<p>Custom Shirts Co.</p>
								<div class="btn"><a href="product_details.ejs">View Product</a></div>
							</div>
							<div class="clear"></div>
						</div>
					</article>

				</div>
			</div>

			<!-- ANCHOR Main Page Content - product grid -->
			<div class="main">
				<div class="wrap">

						<!-- ANCHOR product list - product 1 -->
						<div class="content-bottom" ">
							<div class="box1">
								<%- include('partials/product.ejs', {
									title: 'Stay Wild',
									subtitle: 'Mens Black',
									imgsrc: 'product_Images/shirt2.jpg',
									imgalt: 'shirt',
									info: 'Shirt',
									price: '$100',
									star1: 'rating-star1',
									star2: 'rating-star1',
									star3: 'rating-star1',
									star4: 'rating-star1',
									star5: 'rating-star',
									
								}) %>
							</div>
						</div>

						<!-- ANCHOR product list - product 2 -->
						<div class="content-bottom" ">
							<div class="box1">
								<%- include('partials/product.ejs', {
									title: 'Coffee Classic',
									subtitle: 'Mens White',
									imgsrc: 'product_Images/shirt3.jpg',
									imgalt: 'shirt',
									info: 'Shirt',
									price: '$100',
									star1: 'rating-star1',
									star2: 'rating-star1',
									star3: 'rating-star1',
									star4: 'rating-star1',
									star5: 'rating-star1',
									
								}) %>
							</div>
						</div>

						<!-- ANCHOR product list - product 3 -->
						<div class="content-bottom" ">
							<div class="box1">
								<%- include('partials/product.ejs', {
									title: 'Lioness',
									subtitle: 'Womens White',
									imgsrc: 'product_Images/shirt4.jpg',
									imgalt: 'shirt',
									info: 'Shirt',
									price: '$100',
									star1: 'rating-star1',
									star2: 'rating-star1',
									star3: 'rating-star1',
									star4: 'rating-star1',
									star5: 'rating-star',
									
								}) %>
							</div>
						</div>

						<!-- ANCHOR product list - product 4 -->
						<div class="content-bottom" ">
							<div class="box1">
								<%- include('partials/product.ejs', {
									title: 'Skeleton Peace',
									subtitle: 'Womens Black',
									imgsrc: 'product_Images/shirt5.jpg',
									imgalt: 'shirt',
									info: 'Shirt',
									price: '$100',
									star1: 'rating-star1',
									star2: 'rating-star1',
									star3: 'rating-star1',
									star4: 'rating-star1',
									star5: 'rating-star1',
									
								}) %>
							</div>
						</div>

						<!-- ANCHOR product list - product 5 -->
						<div class="content-bottom" ">
							<div class="box1">
								<%- include('partials/product.ejs', {
									title: 'Bowie',
									subtitle: 'Womens Black',
									imgsrc: 'product_Images/shirt6.jpg',
									imgalt: 'shirt',
									info: 'Shirt',
									price: '$100',
									star1: 'rating-star1',
									star2: 'rating-star1',
									star3: 'rating-star1',
									star4: 'rating-star1',
									star5: 'rating-star1',
									
								}) %>
							</div>
						</div>

						<!-- ANCHOR product list - product 6 -->
						<div class="content-bottom" ">
							<div class="box1">
								<%- include('partials/product.ejs', {
									title: 'I want Pancakes',
									subtitle: 'Womens Yellow',
									imgsrc: 'product_Images/shirt7.jpg',
									imgalt: 'shirt',
									info: 'Shirt',
									price: '$100',
									star1: 'rating-star1',
									star2: 'rating-star1',
									star3: 'rating-star1',
									star4: 'rating-star',
									star5: 'rating-star',
									
								}) %>
							</div>
						</div>

				</div>
					<div class="clear"></div>
			</div>
		</div>

		<%- include('partials/navigation.ejs'); %>
		<%- include('partials/footer.ejs'); %>

	</body>
</html>