<!DOCTYPE HTML>
<html>

	<head>
		<title> WEB601 Ecommerce | Login</title>
		<%- include('partials/head.ejs'); %>
	</head>

	<body>
        <%- include('partials/header.ejs'); %>
		<%- include('partials/navigation.ejs'); %>

            <!-- ANCHOR main content here -->

        <%- include('partials/navigation.ejs'); %>
		<%- include('partials/footer.ejs'); %>

        <!-- To top button -->
		<!-- <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a> -->
	</body>

</html>